---
// assets
import katie from "@/assets/avatar.jpeg";

// components
import ContactForm from "./ContactForm";
---

<section aria-label="Connect with Katie" id="connect">
    <div class="form-wrapper">
        <div><img src={katie.src} alt="Katie" /></div>
        <ContactForm client:visible />
    </div>
</section>