---
import Heading from "../ui/Heading.astro";

import katie from "@/assets/avatar.jpeg";

type Props = {
    currenPage: number;
};

const { currentPage } = Astro.props;
---

<section aria-label="Hero Section" class="blog-hero container">
    <img src={katie.src} alt="Katie" />
    <div>
        <Heading tagName="h1" tagSize="h2">
            My Blog
            <span>Page {currentPage.toString()}</span>
        </Heading>
        <p>
            This is a small little paragraph about me. Bloggin' is cool. Like all  the coolest do it. So I will add my paragraph here telling you why I too do it.
        </p>
    </div>
</section>